
<h2><%= @customer.last_name + @customer.first_name %>さんの会員情報編集</h2>

<table>
  <tr>
    <th>会員ID</th>
    <td><%= @customer.id %></td>
  </tr>
  <%= form_with model: @customer, url: admin_customer_path(@customer.id) do |f| %>
  <tr>
    <th><%= f.label "氏名" %></th>
    <td><%= f.text_field :last_name %></td>
    <td><%= f.text_field :first_name %></td>
  </tr>

  <tr>
    <th><%= f.label "フリガナ" %></th>
    <td><%= f.text_field :last_name_kana %></td>
    <td><%= f.text_field :first_name_kana %></td>
  </div>


  <tr>
    <th><%= f.label "郵便番号" %></th>
    <td><%= f.text_field :postal_code %></td>
  </div>

  <tr>
    <th><%= f.label "住所" %></th>
    <td><%= f.text_field :address %></td>
  </div>

  <tr>
    <th><%= f.label "電話番号" %></th>
    <td><%= f.text_field :telephone_number %></td>
  </div>

  <tr>
    <th><%= f.label "メールアドレス" %></th>
    <td><%= f.text_field :email %></td>
  </div>

  <!--丸ボタンで選択式にする↓-->
  <tr>
    <th><%= f.label "会員ステータス" %></th>
    <td>
      <%= f.radio_button :is_deleted, false %>
      <%=f.label :is_deleted, "有効" %>
      <%= f.radio_button :is_deleted, true %>
      <%=f.label :is_deleted, "退会" %>
    </td>
  </div>

  <tr>
    <th></th>
    <td><%= f.submit "変更を保存", class: "btn btn-success" %></td>
  </tr>

  <% end %>
</table>