<div>
  <h2>新規会員登録</h2>
</div>

<table>

<%= form_with model: @customer, url: customer_registration_path, id: 'new_customer', class: 'new_customer' do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <tr>
    <th>名前</th>
    <td><%= f.label "（姓）" %>   <%= f.text_field :last_name %></td>
    <td><%= f.label "（名）" %>   <%= f.text_field :first_name %></td>
  </tr>
  <tr>
    <th>フリガナ</th>
    <td><%= f.label "（セイ）" %><%= f.text_field :last_name_kana %></td>
    <td><%= f.label "（メイ）" %><%= f.text_field :first_name_kana %></td>
  </tr>
  <tr>
    <th><%= f.label "メールアドレス" %></th>
    <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
  </tr>

  <tr>
    <th><%= f.label "郵便番号(ハイフンなし)" %></th>
    <td><%= f.text_field :postal_code %></td>
  </tr>

  <tr>
    <th><%= f.label "住所" %></th>
    <td><%= f.text_field :address %></td>
  </tr>

  <tr>
    <th><%= f.label "電話番号(ハイフンなし)" %></th>
    <td><%= f.telephone_field :telephone_number %></td>
  </tr>

  <tr>
    <th><%= f.label "パスワード（6文字以上）" %></th>
    <td><%= f.password_field :password, autocomplete: "new-password" %></td>
  </tr>

  <tr>
    <th><%= f.label "パスワード（確認用）" %></th>
    <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
  </tr>

  <tr>
    <th></th>
    <td><%= f.submit "新規登録", class: "btn btn-success" %></td>
  </tr>
<% end %>
</table>

<div>
  <h2>既に登録済みの方</h2>
</div>
<!--「こちら」にログインページへのリンク設定↓-->
<div>
  <%= link_to "こちら", new_customer_session_path %>からログインしてください
</div>


