<div>
  <% if @item.image.attached? %>
    <%= image_tag @item.image, size: " 200 x 300 " %>
  <% else %>
    <%= image_tag 'no_image', size: "200 x 300" %>
  <% end %>
</div>
<div>
  <h3><%= @item.name %></h3>
</div>
<div>
  <p><%= @item.introduction %></p>
</div>
<div>
  <h4><%= @item.add_tax_price.to_s(:delimited) %>円</h4>
  <p>(税込)</p>
</div>
<%= form_with model: @cart_item do |f| %>
  <%= f.hidden_field :item_id, :value => @item.id %>
  <%= f.select :amount, *[1..10] %>
  <%= f.submit "カートに入れる" %>
<% end %>



